.tab{
  margin-top: 100px;
}
.entity::after{
      content: "\00A9";
      font-size: 20px;
  }
.footer{
  margin-top: 400px;
  height: 50px;
  background: black;
  color:#ffffff57;
  padding-top: 5px;
}
@media(max-width:400px){.table{
   font-size: 15px;
  width:40px;
word-wrap: break-word;
  }}
